<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Reset MPIN</title>
</head>

<body>
    <h2>Hello,</h2>
    <p>Your OTP for MPIN reset is:</p>
    <h1>
        <%= otp %>
    </h1>
    <p>This OTP is valid for 10 minutes.</p>
</body>

</html>